POSTGRES_USER=revenda
POSTGRES_PASSWORD=revenda

JWT_ISSUER=http://localhost:8081
JWT_AUDIENCE=revenda-vehicles
# Chave privada RSA em PEM, em uma linha com \n literais. Gere com:
#   openssl genrsa -out identity.pem 2048
JWT_PRIVATE_KEY_PEM=

ADMIN_NAME=Administrador da Revenda
ADMIN_CPF=52998224725
ADMIN_EMAIL=admin@revenda.com
ADMIN_PASSWORD=Revenda2026
